<%= form_with(model: person, local: true, class: 'justify-content-center') do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-row">
  <div class="form-group col-6">
    <%= form.label :first_name, for: 'person_first_name' %>
    <%= form.text_field :first_name, id: :person_first_name, class: 'form-control'  %>
  </div>

  <div class="form-group col-6">
    <%= form.label :last_name, for: 'person_last_name' %>
    <%= form.text_field :last_name, id: :person_last_name, class: 'form-control'  %>
  </div>
</div>
  <%= form.fields_for :phrases do |phrase_form| %>
      <div class="form-group">
        <%= phrase_form.label :title , for: 'person_phrases_attributes_0_title'%>
        <%= phrase_form.text_field :title,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= phrase_form.label :content, for: 'person_phrases_attributes_0_content' %>
        <%= phrase_form.text_area :content,  class: 'form-control' %>
      </div>
    <% end %>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary'  %>
    <%= link_to 'Back', root_path, class: 'btn btn-info float-right' %>
  </div>
<% end %>
